<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bschwagler.positivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!--  since we read image files by emulated in storage -->

    <uses-permission android:name="com.bschwagler.permission.C2D_MESSAGE" />
    <permission
        android:name="com.bschwagler.positivity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   
    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    
<meta-data
    android:name="com.parse.push.notification_icon"
    android:resource="@drawable/ic_launcher" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:name="com.bschwagler.positivity.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        SEE:
        http://www.vogella.com/tutorials/AndroidStylesThemes/article.html#platformthemes
        http://developer.android.com/guide/topics/ui/themes.html	    -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"	>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BackgroundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_background"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
           android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >

        </activity>

        <!-- Generic broadcast receiver to monitor events -->
        <receiver android:name=".BroadcastEventsReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                   <action android:name="com.bschwagler.positivity.MESSAGE"/> 
            </intent-filter>
        </receiver>

        <!-- Register the receiver for the Alarm events -->
        <receiver android:name=".AlarmReceiver"  >
        </receiver>
            

        <!--
            Because android:exported is set to "false",
            the service is only available to this app
        -->
        <service
            android:name=".PositivityService"
            android:exported="false" >
        </service>

        <!-- Rest of this is PARSE service stuff -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
      

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.bschwagler.positivity" />
            </intent-filter>
        </receiver>
    </application>

</manifest>